<template>
  <div>
      <section class="content mt-5">
      <div class="container ">
        <div class="row ">
          <div class="col-md-3">

            <!-- Profile Image -->
            <div class="card card-primary card-outline">
              <div class="card-body box-profile">
                <div class="text-center">
                  <img class="profile-user-img img-fluid img-circle" src="/img/user4-128x128.jpg" alt="User profile picture">
                </div>

                <h3 class="profile-username text-center">Nina Mcintire</h3>

                <p class="text-muted text-center">Software Engineer</p>

                <ul class="list-group list-group-unbordered mb-3">
                  <li class="list-group-item">
                    <b>Followers</b> <a class="float-right">1,322</a>
                  </li>
                  <li class="list-group-item">
                    <b>Following</b> <a class="float-right">543</a>
                  </li>
                  <li class="list-group-item">
                    <b>Friends</b> <a class="float-right">13,287</a>
                  </li>
                </ul>

                <a href="#" class="btn btn-primary btn-block"><b>Follow</b></a>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->

           
            <!-- /.card -->
          </div>
          <!-- /.col -->
          <div class="col-md-9">
            <div class="card">
              <div class="card-header p-2">
                <ul class="nav nav-pills">
                    <li class="nav-item"><a class="nav-link active" href="#settings" data-toggle="tab">Settings</a></li>
                </ul>
              </div><!-- /.card-header -->
              <div class="card-body">
                <div class="tab-content">
                 <div class="tab-pane active" id="settings">
                    <form class="form-horizontal">
                      <div class="form-group row">
                        <label for="inputName" class="col-sm-2 col-form-label">Name</label>
                        <div class="col-sm-10">
                          <input type="text" v-model="profile.name" class="form-control" id="inputName" placeholder="Enter Your Name">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="inputEmail" class="col-sm-2 col-form-label">Password</label>
                        <div class="col-sm-10">
                          <input type="password" v-model="profile.password" class="form-control" id="inputEmail" placeholder="Email">
                        </div>
                      </div>
                     <div class="form-group row">
                        <div class="offset-sm-2 col-sm-10">
                          <button v-on:click="submit" class="btn btn-danger">Submit</button>
                        </div>
                      </div>
                    </form>
                  </div>
                  <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
              </div><!-- /.card-body -->
            </div>
            <!-- /.nav-tabs-custom -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
  </div>
</template>

<script>
import {mapState , mapActions} from "vuex";
export default {
    data(){
        return{

        }
    },

    computed: {
        ...mapState("profiles" , ["profile" , "profiles"])    
    },

    methods: {
		...mapActions("profiles" , ["submitProfile" , "listProfile"]),

        submit(){
			this.submitProfile(this.profile)
			.then(res=>{
				this.profile.name     = '',
				this.profile.password = '',
				this.$router.push('/profile'),
				toast.fire({
                            icon: 'success',
                            title: 'Profile Updated Successfully'
                        })
			})
		}
	},
	
	created(){
		this.listProfile();
	}
}
</script>

<style>

</style>