<template>
    <div>
        <div class="card card-primary">
            <div class="card-body">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Create Assignment</h3>
                    </div> 
                    <!-- /.box-header -->
                    <!-- form start -->

                    <div class="form-group">
                        <label for="text">Assignment</label>
                        <input type="text" class="form-control" id="text" @keyup="error.errors.assignment= null"
                            name="text" placeholder="Enter Assignment Name" value="" v-model="assignment.assignment">
                    </div>

                    <!-- Error -->
                    <div class="alert alert-icon alert-danger " v-if="hasError('assignment')">
                        <span v-for="err in error.errors.assignment" :key="err.id"><i
                                class="fe fe-alert-triangle mr-2"></i>{{err}}</span>
                    </div>

                    <div class="form-group">
                        <label for="topic">Topic</label>
                        <input type="text" class="form-control" id="topic" @keyup="error.errors.topic= null"
                            name="topic" placeholder="Enter Assignment Topic" value="" v-model="assignment.topic">
                    </div>

                    <!-- Error -->
                    <div class="alert alert-icon alert-danger " v-if="hasError('topic')">
                        <span v-for="err in error.errors.topic" :key="err.id"><i
                                class="fe fe-alert-triangle mr-2"></i>{{err}}</span>
                    </div>

                    <div class="form-group">
                        <label>Submission Date</label>
                        <div class="input-group">
                            <input type="date" class="form-control"
                                @keyup="error.errors.submission_date= null" id="reservationtime" name="date"
                                v-model="assignment.submission_date">
                        </div>
                    </div>

                    <!-- Error -->
                    <div class="alert alert-icon alert-danger " v-if="hasError('submission_date')">
                        <span v-for="err in error.errors.submission_date" :key="err.id"><i
                                class="fe fe-alert-triangle mr-2"></i>{{err}}</span>
                    </div>

                    <div class="form-group">
                        <label for="image">Attach Assignment</label>
                        <input type="file" id="image" class="form-control" name="image" placeholder="Choose Profile Pic"
                            value="" @change="selectedFile">
                    </div>

                    <div class="form-group">
                        <label for="">Attach File Name</label>
                        <input type="text" class="form-control" @keyup="error.errors.attach_name= null" placeholder="Enter A name for Attached File"
                        v-model="assignment.attach_name">
                    </div>

                    <!-- Error -->
                    <div class="alert alert-icon alert-danger " v-if="hasError('attach_name')">
                        <span v-for="err in error.errors.attach_name" :key="err.id"><i
                                class="fe fe-alert-triangle mr-2"></i>{{err}}</span>
                    </div>

                    <div class="form-group">
                        <label for="class">Select Batch</label>
                        <select name="class" class="form-control"  v-model="assignment.classe"
                        @change="error.errors.classe = null" >
                            <option selected disabled>Select Batch</option>
                            <option  v-for="batch in batches" :key="batch.id">
                                {{batch.batch}}
                            </option>
                        </select> 
                    </div>

                     <!-- Error -->
                    <div class="alert alert-icon alert-danger " v-if="hasError('classe')">
                        <span v-for="err in error.errors.classe" :key="err.id"><i
                            class="fe fe-alert-triangle mr-2"></i>{{err}}</span>
                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <button type="button" @click="save" class="btn btn-primary">Submit</button>
                </div>

            </div>
        </div>
    </div>
</template>

<script>
    import {
        mapState,
        mapActions
    } from "vuex";
    export default {
        data() {
            return {
                error : null , 
                image : ''
            }
        },

        computed: {

            ...mapState("assignment", ["assignments", "assignment"]),
            ...mapState("batches", ["batches" , "loading" , "pagination"]),
            ...mapState("classes" , ["classes"])
        },

        methods: {

            ...mapActions("assignment", ["saveAssignment"]),
 
            ...mapActions("classes" , ["fetchClass"]),
            ...mapActions("batches",["listBatches" , "deleteBatch"]),


            selectedFile(){
                this.image = event.target.files[0];
            },

            save() {

                var saveImage = this.assignment ;

                if(this.image){

                    let formData = new FormData();

                    $.each(saveImage , function(key , value){
                        formData.append(key , value);
                    });

                    formData.append('attachement' , this.image);

                    saveImage = formData;
                }

                this.saveAssignment(saveImage)
                    .then(res => {
                        this.assignment.assignment = '',
                            this.assignment.topic = '',
                            this.assignment.submission_date = '',
                            this.assignment.attachement = '',
                            this.$router.push('/assignments/list'),
                            toast.fire({
                                icon: 'success',
                                title: 'Assignment Created Successfully'
                            })
                    })
                    .catch(error => {
                        this.error = error;
                    })
            },

            hasError(field) {
                return (this.error && this.error.errors && this.error.errors[field]) ? 1 : 0;
            }
        },

        created(){
            this.fetchClass('')
            this.listBatches('')
        }
    }

</script>
