<template>
	<div>
		<div class="card card-primary">
		   <div class="card-header">
		        <h3 class="card-title">Edit Assignment</h3>
		    </div>
		    <!-- /.card-header -->
		    <!-- form start -->
		              
		    <div class="card-body">
		       <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Edit Assignment</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            
                <div class="form-group">
                  <label for="text">Assignment</label>
                  <input type="text" class="form-control" id="text" @keyup="error.errors.assignment= null" name="text" placeholder="Enter Assignment Name" value="" v-model="assignment.assignment">
                </div>

                <!-- Error -->
                <div class="alert alert-icon alert-danger " v-if="hasError('assignment')">
                  <span v-for="err in error.errors.assignment" :key="err.id"><i class="fe fe-alert-triangle mr-2"></i>{{err}}</span>
                </div>

                 <div class="form-group">
                  <label for="topic">Topic</label>
                  <input type="text" class="form-control" id="topic" @keyup="error.errors.topic= null" name="topic" placeholder="Enter Assignment Topic" value="" v-model="assignment.topic">
                </div>

                <!-- Error -->
                <div class="alert alert-icon alert-danger " v-if="hasError('topic')">
                  <span v-for="err in error.errors.topic" :key="err.id"><i class="fe fe-alert-triangle mr-2"></i>{{err}}</span>
                </div>

                <div class="form-group">
                  <label>Submission Date</label>
                    <div class="input-group">
                    	<input type="date" class="form-control" @keyup="error.errors.submission_date= null" id="reservationtime" name="date" v-model= "assignment.submission_date">
                  </div>
               </div>

                <!-- Error -->
                <div class="alert alert-icon alert-danger " v-if="hasError('submission_date')">
                  <span v-for="err in error.errors.submission_date" :key="err.id"><i class="fe fe-alert-triangle mr-2"></i>{{err}}</span>
                </div>

                <div class="form-group">
                  <label for="image">Attach Assignment</label>
                  <input type="file" id="image" @change="selectedFile" class="form-control" name="image" placeholder="Choose Profile Pic" value="">
        		</div>

           			 <div class="form-group">
                        <label for="">Attach File Name</label>
                        <input type="text" class="form-control" @keyup="error.errors.attach_name= null" placeholder="Enter A name for Attached File"
                        v-model="assignment.attach_name">
                    </div>

                    <!-- Error -->
                    <div class="alert alert-icon alert-danger " v-if="hasError('attach_name')">
                        <span v-for="err in error.errors.attach_name" :key="err.id"><i
                                class="fe fe-alert-triangle mr-2"></i>{{err}}</span>
                    </div>

                    <div class="form-group">
                        <label for="class">Select Batch</label>
                        <select name="class" class="form-control"  v-model="assignment.classe"
                        @change="error.errors.classe = null" >
                            <option selected disabled>Select Batch</option>
                            <option  v-for="batch in batches" :key="batch.id">
                                {{batch.batch}}
                            </option>
                        </select> 
                    </div>

                     <!-- Error -->
                    <div class="alert alert-icon alert-danger " v-if="hasError('classe')">
                        <span v-for="err in error.errors.classe" :key="err.id"><i
                            class="fe fe-alert-triangle mr-2"></i>{{err}}</span>
                    </div>

				</div>
              <!-- /.box-body -->
               <div class="box-footer">
                <button  @click="update" class="btn btn-primary">Update</button>
              </div>
            
          </div>
		                

    </div>
	</div>
</template>

<script>
    import {mapState , mapActions} from "vuex";
    export default{
    	props:['id'],
    	data(){
            return{
				error : null,

				image : ''
            }
        },

        computed:{

            ...mapState("assignment",["assignments" , "assignment"]),
            ...mapState("batches", ["batches" , "loading" , "pagination"]),
            ...mapState("classes" , ["classes"])
        },

        methods:{

            ...mapActions("assignment",["updateAssignment" , "editAssignment"]),
            ...mapActions("batches",["listBatches" , "deleteBatch"]),
            ...mapActions("classes" , ["fetchClass"]),

			selectedFile(){
                this.image = event.target.files[0];
			},
			
            update(){

				var saveImage = this.assignment ;
				 if(this.image){

                    let formData = new FormData();

                    $.each(saveImage , function(key , value){
                        formData.append(key , value);
                    });

                    formData.append('attachement' , this.image);

                    saveImage = formData;
				}
				
                this.updateAssignment(saveImage)
                .then(res=>{
                    this.assignment.assignment      = '',
                    this.assignment.topic           = '',
                    this.assignment.submission_date = '',
                    this.assignment.attachement     = '',
                    this.$router.push('/assignments/list'),
                    toast.fire({
                      icon: 'success',
                      title: 'Assignment Updated Successfully'
                    })
                })
                .catch(error=>{
                  this.error = error;
                })
            },

            hasError(field){
              return (this.error && this.error.errors && this.error.errors[field]) ? 1 : 0;
            }
        },

        created()
        {
          this.editAssignment(this.id),
          this.listBatches('')
		      this.fetchClass('')
        }
}
</script>