<template>
	<div>
		<div class="row">
		          <div class="col-12">
		            <div class="card">
		              <div class="card-header">
		                <h3 class="card-title">Fixed Header Table</h3>
						<div class="card-tools">
		                  <div class="input-group input-group-sm" style="width: 150px;">
		                    <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

		                    <div class="input-group-append">
		                      <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
		                    </div>
		                  </div>
		                </div>
		              </div>
		              <!-- /.card-header -->
		              <div class="card-body table-responsive p-0" style="height: 300px;">
		                <table class="table table-head-fixed text-nowrap">
		                  <thead>
		                    <tr>
		                      <th>Assignment</th>
		                      <th>Topic</th>
		                      <th>Submission Date</th>
		                      <th>Attachement</th>
		                      <th>Action</th>
		                    </tr>
		                  </thead>
		                  <tbody>
		                    <tr v-for="assign in assignments" :key="assign.id">
		                      
		                      <td>{{assign.assignment}}</td>
		                      <td>{{assign.topic}}</td>
		                      <td>{{assign.submission_date}}</td>
		                      <td>
								  		<a v-if="assign.attachement" :href="assign.attachement" download>
                                            <span data-toggle="tooltip" data-placement="right" title="Download"><i class="fa fa-paperclip"></i>{{assign.attach_name}}</span>
                                        </a>
                                         
		                      		    <p v-else class="font-weight-bold text-dark text-uppercase"> Not Found</p>
							  </td>
		                      <td>
		                      		<router-link :to="{name:'EditAssignment' , params:{id:assign.id}}" class="btn btn-primary btn-sm">Edit</router-link>
		                      		
		                      		<button class="btn btn-danger btn-sm" v-on:click="deleteAssign(assign.id)">Delete</button>
		                      </td>
		                    </tr>
		                  </tbody>
						  <nav v-if="pagination && pagination.totalPages > 1" aria-label="Assignment Pagination">
							<paginate v-model="pagination.currentPage" :page-count="pagination.totalPages" :click-handler="paginateAssignment" 
								:prev-text="'Prev'" 
								:next-text="'Next'"
								:prev-class="'page-item'"
								:next-class="'page-item'"
								:page-link-class="'page-link'"
								:container-class="'pagination'">
							</paginate>
						</nav>
		                </table>
		              </div>
		              <!-- /.card-body -->
		            </div>
		            <!-- /.card -->
		          </div>
		        </div>
	</div>
</template>

<script>
	import {mapActions , mapState} from "vuex";
	export default{
		data(){
			return{

			}
		},

		computed:{
			...mapState("assignment",["assignments" ,"loading" , "pagination"])
		},

		methods:{

			...mapActions("assignment",["fetchAssignment" , "deleteAssign"]),

			paginateAssignment(){
				var query = '?page=' + this.pagination.currentPage;
				this.fetchAssignment(query);
			}
		},

		created(){
			this.fetchAssignment('')
		}
	}
</script>