<template>
	<div>
		<div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Create Batches</h3>
          </div>
		              
		              
            <div class="card-body">
              <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Create Batches</h3>
            </div> 
            <!-- /.box-header -->
            <!-- form start -->
              <div class="box-body">
                <div class="form-group">
                  <label for="name">Batch Name</label>
                  <input type="text" class="form-control" id="name" @keyup="error.errors.batch = null " name="name" placeholder="Enter Batch Name" value="" v-model="batch.batch">
                </div>
				<!-- Error -->
				<div class="alert alert-icon alert-danger " v-if="hasError('batch')">
					<span v-for="err in error.errors.batch" :key="err.id"><i class="fe fe-alert-triangle mr-2"></i>{{err}}</span>
				</div>

                <div class="form-group">
                  <label for="class">Select Class</label>
                  <select name="class_id" class="form-control" id="select_class" v-model="batch.class" @change="error.errors.class = null ">
                    <option selected="" disabled="">Select Class</option>
                    <option :value="classlist.class" v-for="classlist in classes" :key="classlist.id">
                      {{classlist.class}}
                    </option>
                  </select>
                </div>

                <!-- Error -->
                <div class="alert alert-icon alert-danger " v-if="hasError('class')">
                  <span v-for="err in error.errors.class" :key="err.id"><i class="fe fe-alert-triangle mr-2"></i>{{err}}</span>
                </div>

                <div class="form-group">
                  <label for="school">Choose Subject</label>
                  <select name="subject_id" class="form-control" id="select_subject" v-model="batch.subject" @change="error.errors.subject = null ">
                   <option :value="subject.subject"  v-for="subject in subjects" :key="subject.id">
                      {{subject.subject}}
                    </option>
                  </select>       
                </div>
                <!-- Error -->
                <div class="alert alert-icon alert-danger " v-if="hasError('subject')">
                  <span v-for="err in error.errors.subject" :key="err.id"><i class="fe fe-alert-triangle mr-2"></i>{{err}}</span>
                </div>

                <div class="form-group">
                  <label for="school"> Center</label>
                  <select name="center" class="form-control" id="select_subject" v-model="batch.center" @change="error.errors.center = null ">
                    <option selected="" disabled="">Choose Center</option>
                    <option value="1">Molarband</option>
                    <option value="2">Jaitpur</option>
                  </select>       
                </div>

				<!-- Error -->
				<div class="alert alert-icon alert-danger " v-if="hasError('center')">
					<span v-for="err in error.errors.center" :key="err.id"><i class="fe fe-alert-triangle mr-2"></i>{{err}}</span>
				</div>

                <div class="form-group">
                   <div class="form-group">
                        <label>Date:</label>
                        <div class="input-group date">
                          <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                          </div>
                          <input type="date" class="form-control pull-right" name="date" id="datepicker" v-model="batch.date" @click="error.errors.date = null ">
                        </div>
                    </div>
                </div>

				<!-- Error -->
				<div class="alert alert-icon alert-danger " v-if="hasError('date')">
					<span v-for="err in error.errors.date" :key="err.id"><i class="fe fe-alert-triangle mr-2"></i>{{err}}</span>
				</div>

                <div class="form-group">
                    <div class="bootstrap-timepicker">
                        <div class="form-group">
                          <label>Start Time:</label>
                            <div class="input-group">
                            <input type="time" class="form-control timepicker" name="stime" v-model="batch.start_time" @click="error.errors.start_time = null ">
                                <div class="input-group-addon">
                              <i class="fa fa-clock-o"></i>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>

				<!-- Error -->
				<div class="alert alert-icon alert-danger " v-if="hasError('start_time')">
					<span v-for="err in error.errors.start_time " :key="err.id"><i class="fe fe-alert-triangle mr-2"></i>{{err}}</span>
				</div>

                <div class="form-group">
                         <div class="bootstrap-timepicker">
                        <div class="form-group">
                          <label>End Time:</label>
                            <div class="input-group">
                            <input type="time" class="form-control timepicker" name="etime" v-model="batch.end_time" @click="error.errors.end_time = null ">
                                <div class="input-group-addon">
                              <i class="fa fa-clock-o"></i>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>

					<!-- Error -->
				<div class="alert alert-icon alert-danger " v-if="hasError('end_time')">
					<span v-for="err in error.errors.end_time " :key="err.id"><i class="fe fe-alert-triangle mr-2"></i>{{err}}</span>
				</div>

                <div class="form-group">
                <label>Weekdays</label>
                <select class="form-control select2"  data-placeholder="Select a Weekdays" name="week" style="width: 100%;" v-model="batch.weekday" @change="error.errors.weekday = null ">
                    <option value="1">Sunday</option>
                    <option value="2">Monday</option>
                    <option value="3">Tuesday</option>
                    <option value="4">Wednesday</option>
                    <option value="5">Thrusday</option>
                    <option value="6">Friday</option>
                    <option value="7">Saturday</option>
                </select>
              </div>

			  	<!-- Error -->
				<div class="alert alert-icon alert-danger " v-if="hasError('weekday')">
					<span v-for="err in error.errors.weekday" :key="err.id"><i class="fe fe-alert-triangle mr-2"></i>{{err}}</span>
				</div>


                </div>
              <!-- /.box-body -->
            </div>
		    </div>
		                <!-- /.card-body -->

            <div class="card-footer">
              <button type="button" class="btn btn-primary" v-on:click="save">Submit</button>
            </div>
	              
		    </div>
	</div>
</template>

<script>
    import {mapState , mapActions} from "vuex";
    
    export default{
        data(){
            return {
                error : null
            }
        },

        computed:{
            ...mapState("batches" , ["batch"]) ,
            ...mapState("subjects" , ["subjects" , "pagination" ,"loading"]),
            ...mapState("classes" , ["classes" ,"loading" , "pagination"])
        },

        methods:{
            ...mapActions("subjects" , ["listSubjects" , "deleteSubject"]),
            ...mapActions("batches" , ["saveBatches"]),
            ...mapActions("faculty", ["saveFaculty"]),
            ...mapActions("classes" , ["fetchClass" , "deleteClass"]),
            save(){
                this.saveBatches(this.batch)
                .then(res=>{
					this.batch.batch 		 = '',
					this.batch.class         = '',
					this.batch.subject       = '',
					this.batch.center        = '',
					this.batch.date          = '',
					this.batch.start_time    = '',
					this.batch.end_time      = '',
					this.batch.weekday       = '',
					this.$router.push('/batches/list'),
					toast.fire({
					icon: 'success',
					title: 'Batch Created Successfully'
					})
                })
                .catch(error=>{
                  this.error = error;
                })
			},
			
			hasError(field){
				return (this.error && this.error.errors && this.error.errors[field]) ?1 :0 ;
			}
        },


        created(){
          this.fetchClass('') 
			   
          this.listSubjects('')
		  }
    }
</script>