<template>
	<div>
		<div class="row">
		          <div class="col-12">
		            <div class="card">
		              <div class="card-header">
		                <h3 class="card-title">Fixed Header Table</h3>

		                <div class="card-tools">
		                  <div class="input-group input-group-sm" style="width: 150px;">
		                    <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

		                    <div class="input-group-append">
		                      <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
		                    </div>
		                  </div>
		                </div>
		              </div>
		              <!-- /.card-header -->
		              <div class="card-body table-responsive p-0" style="height: 300px;">
		                <table class="table table-head-fixed text-nowrap">
		                  <thead>
		                    <tr>
		                      <th>Batch</th>
		                      <th>Class</th>
		                      <th>Subject</th>
		                      <th>Center</th>
		                      <th>Date</th>
							  <th>Start Time</th>
							  <th>End Time</th>
							  <th>Weekday</th>
							  <th>Actions</th>
							</tr>
		                  </thead>
		                  <tbody>
		                    <tr v-for="batch in batches" :key="batch.id">
		                      <td>{{batch.batch}}</td>
		                      <td>{{batch.class}}</td>
		                      <td>{{batch.subject}}</td>
		                      <td>{{batch.center}}</td>
		                      <td>{{batch.date}}</td>
		                      <td>{{batch.start_time}}</td>
		                      <td>{{batch.end_time}}</td>
		                      <td>{{batch.weekday}}</td>
							  <td>
								  	<router-link :to="{name:'EditBatches',params:{id:batch.id}}" class="btn btn-primary btn-sm">Edit</router-link>

							  		<button class="btn btn-danger btn-sm"  @click="deleteBatch(batch.id)" >Delete</button>
							  </td>
		                    </tr>
		                  </tbody>
						  <nav v-if="pagination && pagination.totalPages > 1" aria-label="Batches Pagination">
							<paginate v-model="pagination.currentPage" :page-count="pagination.totalPages" :click-handler="paginateBatches" 
								:prev-text="'Prev'" 
								:next-text="'Next'"
								:prev-class="'page-item'"
								:next-class="'page-item'"
								:page-link-class="'page-link'"
								:container-class="'pagination'">
							</paginate>
						</nav>
		                </table>
		              </div>
		              <!-- /.card-body -->
		            </div>
		            <!-- /.card -->
		          </div>
		        </div>
	</div>
</template>

<script>
	import {mapState , mapActions} from "vuex";
	export default {
		data(){
			return{

			}
		},

		computed:{
			...mapState("batches", ["batches" , "loading" , "pagination"]),
		},

		methods:{

			...mapActions("batches",["listBatches" , "deleteBatch"]),

			paginateBatches(){
				var query = '?page='+ this.pagination.currentPage;

				this.listBatches(query);
			}
		},

		created(){
			this.listBatches('')  
		}
	}
</script>