<template>
	<div>
		<div class="card card-primary">
		    <!-- form start -->
			<div class="card-body">
			<div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Create Subjects</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
           
            	<div class="box-body">
					<div class="form-group">
						<label for="class">Class</label>
						<select name="class_id" class="form-control" v-model="subject.class">
							<option selected disabled>Select Class</option>
							<option value="9">Class 9</option>
							<option value="10">Class 10</option>
							<option value="11">Class 11</option>
							<option value="12">Class 12</option>
							
						</select>
					</div>
					<div class="form-group">
						<label for="subject">Subject</label>
						<input type="text" class="form-control" id="subject" name="subject" placeholder="Add Subjects Name" value="" v-model="subject.subject">
					</div>

					<div class="form-group">
						<label for="faculty">Select Faculty</label>
						<select name="" id="" class="form-control" v-model="subject.faculty">
							<option value="" selected disabled>Select Faculty</option>
							<option :value="faclt.faculty_name" v-for="faclt in faculties" :key="faclt.id">{{faclt.faculty_name}}</option>
						</select>
					</div>

            	</div>
              <!-- /.box-body -->
               <div class="box-footer">
                <button v-on:click="update" class="btn btn-primary">Update</button>
              </div>
            
          </div>
		</div>
	</div>
	
	</div>
</template>
<script>
import {mapState, mapActions} from "vuex";

export default {
    props:['id'],
	data(){
		return{

		}
	},
	computed:{

		...mapState("faculty" ,["faculties"]),

		...mapState("subjects" , ["subjects" , "subject"])
	},

	methods:{
		...mapActions("faculty" , ["listFaculty"]),

		...mapActions("subjects" , ["updateSubject" ,"editSubject"]),

		update(){
			this.updateSubject(this.subject)
			.then(res=>{
				this.subject.class   = '',
				this.subject.subject = '',
				this.subject.faculty = '',
				this.$router.push('/subject/list'),
				toast.fire({
                            icon: 'success',
                            title: 'Subject Updated Successfully'
                        })
			})
		}
	},

	created(){
        this.listFaculty('');
        this.editSubject(this.id);
	}
}
</script>