<template>
	<div>
		<div class="row">
		          <div class="col-12">
		            <div class="card">
		              <div class="card-header">
		                <h3 class="card-title">Fixed Header Table</h3>

		                <div class="card-tools">
		                  <div class="input-group input-group-sm" style="width: 150px;">
		                    <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

		                    <div class="input-group-append">
		                      <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
		                    </div>
		                  </div>
		                </div>
		              </div>
		              <!-- /.card-header -->
		              <div class="card-body  p-0" style="height: 300px;">
		                <table class="table table-head-fixed text-nowrap">
		                  <thead>
		                    <tr>
		                      <th>Class</th>
		                      <th>Subject</th>
		                      <th>Faculty</th>
		                      <th>Actions</th>
		                    </tr>
		                  </thead>
		                  <tbody>
		                    <tr v-for="subject in subjects" :key="subject.id">
		                      <td>{{subject.class}}</td>
		                      <td>{{subject.subject}}</td>
		                      <td>{{subject.faculty}}</td>
		                      <td>
								  	<router-link :to="{name:'EditSubject' , params:{id:subject.id}}" class="btn btn-info btn-sm">Edit</router-link>
		                      		<button class="btn btn-danger btn-sm" v-on:click="deleteSubject(subject.id)">Delete</button>
							  </td>
		                    </tr>
		                  </tbody>
						  <nav v-if="pagination && pagination.totalPages > 1" aria-label="Subject Pagination">
							<paginate v-model="pagination.currentPage" :page-count="pagination.totalPages" :click-handler="paginateSubjects" 
								:prev-text="'Prev'" 
								:next-text="'Next'"
								:prev-class="'page-item'"
								:next-class="'page-item'"
								:page-link-class="'page-link'"
								:container-class="'pagination'">
							</paginate>
						</nav>
		                </table>
		              </div>
		              <!-- /.card-body -->
		            </div>
		            <!-- /.card -->
		          </div>
		        </div>
	</div>
</template>

<script>
import {mapState , mapActions} from "vuex";
export default {
	data(){
		return{

		}
	},

	computed:{
		...mapState("subjects" , ["subjects" , "pagination" ,"loading"])
	},

	methods:{
		
		...mapActions("subjects" , ["listSubjects" , "deleteSubject"]),

		paginateSubjects(){
			var query = '?page=' + this.pagination.currentPage;
			this.listSubjects(query);
		}
	},

	created(){
		this.listSubjects('')
	}
}
</script>