<template>
  <div> 
    <div class="container">
            <div class="page-header">
              <h1 class="page-title">
                Dashboard
              </h1>
            </div>
            
            <div class="row row-cards row-deck">
              <div class="col-12">
                <div class="card">
                  <div class="table-responsive">
                    <!--  -->
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-lg-4">
                <div class="card">
                  <div class="card-header">
                    <h4 class="card-title">Announcements</h4>
                  </div>
                  <div class="card-body o-auto" style="height: 15rem">
                    <p v-if = "loading">Loading...</p>
                    <ul class="list-unstyled list-separated">
                      <li class="list-separated-item" v-for="announce in announcements" :key="announce.id">
                        <div class="row align-items-center">
                          <div class="col-auto">
                            <img class="avatar avatar-md d-block" v-if="announce.image" :src='announce.image'>
                            <p v-else class="font-weight-bold text-dark text-uppercase"> Not Found</p>
                           </div>
                          <div class="col">
                            <div>
                              <a href="javascript:void(0)" class="text-inherit">{{announce.announcement}}</a>
                            </div>
                            <small class="d-block item-except text-sm text-muted h-1x">{{announce.batch}}</small>
                          </div>
                          <div class="col-auto">
                            <div class="item-action dropdown">
                              <a href="javascript:void(0)" data-toggle="dropdown" class="icon"><i class="fe fe-more-vertical"></i></a>
                              <div class="dropdown-menu dropdown-menu-right">
                                  <a v-if="announce.image" :href="announce.image" download>
                                      <span data-toggle="tooltip" data-placement="right" title="Download">
                                          <i class="fe fe-paperclip"></i>&nbsp;{{announce.attach}}
                                      </span>
                                  </a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            
              <div class="col-md-6 col-lg-4">
                <div class="card">
                  <div class="card-header">
                    <h3 class="card-title">Students</h3>
                  </div>
                  <div class="card-body o-auto" style="height: 15rem">
                    <p v-if = "loading">Loading...</p>
                    <ul class="list-unstyled list-separated">
                      <li class="list-separated-item" v-for="student in students" :key="student.id">
                        <div class="row align-items-center">
                          <div class="col-auto">
                            <img class="avatar avatar-md d-block" v-if="student.profile_pic" :src='student.profile_pic'>
                            <p v-else class="font-weight-bold text-dark text-uppercase"> Not Found</p>
                          </div>
                          <div class="col">
                            <div>
                              <a href="javascript:void(0)" class="text-inherit">{{student.name}}</a>
                            </div>
                            <small class="d-block item-except text-sm text-muted h-1x">{{student.school}}</small>
                          </div>
                          <!-- <div class="col-auto">
                            <div class="item-action dropdown">
                              <a href="javascript:void(0)" data-toggle="dropdown" class="icon"><i class="fe fe-more-vertical"></i></a>
                              <div class="dropdown-menu dropdown-menu-right">
                                <a href="javascript:void(0)" class="dropdown-item"><i class="dropdown-icon fe fe-tag"></i> Action </a>
                                <a href="javascript:void(0)" class="dropdown-item"><i class="dropdown-icon fe fe-edit-2"></i> Another action </a>
                                <a href="javascript:void(0)" class="dropdown-item"><i class="dropdown-icon fe fe-message-square"></i> Something else here</a>
                                <div class="dropdown-divider"></div>
                                <a href="javascript:void(0)" class="dropdown-item"><i class="dropdown-icon fe fe-link"></i> Separated link</a>
                              </div>
                            </div>
                          </div> -->
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-4">
                <div class="card">
                  <div class="card-header">
                    <h3 class="card-title">Assignments</h3>
                  </div>
                  <div class="card-body o-auto" style="height: 15rem">
                    <p v-if = "loading">Loading...</p>
                    <ul class="list-unstyled list-separated">
                      <li class="list-separated-item" v-for="assign in assignments" :key="assign.id">
                        <div class="row align-items-center">
                          <!-- <div class="col-auto">
                            <img class="avatar avatar-md d-block" v-if="student.profile_pic" :src='student.profile_pic'>
                            <p v-else class="font-weight-bold text-dark text-uppercase"> Not Found</p>
                          </div> -->
                          <div class="col">
                            <div>
                              <a href="javascript:void(0)" class="text-inherit">{{assign.assignment}}</a>
                            </div>
                            <small class="d-block item-except text-sm text-muted h-1x">{{assign.submission_date}}</small>
                          </div>
                          <div class="col-auto">
                            <div class="item-action dropdown">
                              <a href="javascript:void(0)" data-toggle="dropdown" class="icon"><i class="fe fe-more-vertical"></i></a>
                              <div class="dropdown-menu dropdown-menu-right">
                                <a v-if="assign.attachement" :href="assign.attachement" download>
                                  <span data-toggle="tooltip" data-placement="right" title="Download"><i class="fa fa-paperclip"></i>{{assign.attach_name}}</span>
                                </a>
                                         
		                      		    <p v-else class="font-weight-bold text-dark text-uppercase"> Not Found</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
               
            </div>
          </div>

        <footer class="footer  sticky-bottom">
        <div class="container">
          <div class="row align-items-center flex-row-reverse">
            <div class="col-auto ml-lg-auto">
              <div class="row align-items-center">
                <div class="col-auto">
                  <ul class="list-inline list-inline-dots mb-0">
                    <li class="list-inline-item"><a href="#">Documentation</a></li>
                    <li class="list-inline-item"><a href="#">FAQ</a></li>
                  </ul>
                </div>
                <div class="col-auto">
                  <!-- <a href="#" class="btn btn-outline-primary btn-sm">Source code</a> -->
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-auto mt-3 mt-lg-0 text-center">
              Copyright © 2020 <a href="#">Beats Academy</a> All rights reserved.
            </div>
          </div>
        </div>
      </footer>
        
 </div>
</template>

<script>
    import {mapState , mapActions} from "vuex";
    export default{
        data(){
            return{

            }
        },

        computed:{
            ...mapState("faculty" , ["faculties" , "loading"]),

            ...mapState("students" , ["students", "loading"]),

            ...mapState("announcements",["announcements","loading"]),
            
            ...mapState("subjects" ,["subjects" , "loading"]),

            ...mapState("assignment",["assignments" ,"loading"])
        },

        methods:{
            ...mapActions("faculty",["listFaculty"]),

            ...mapActions("students" , ["fetchList"]),

            ...mapActions("announcements",["fetchAnnouncement"]),

            ...mapActions("subjects" , ["listSubjects"]),

            ...mapActions("assignment",["fetchAssignment"])
        },

        created(){
            this.listFaculty(''),

            this.fetchList(''),

            this.fetchAnnouncement(''),

            // this.listSubjects(''),

            this.fetchAssignment('')
        }
    }
</script> 