<template>
	<div>
		<div class="card card-primary">
		    <div class="card-body">
		        <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Create Faculty</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
              <div class="box-body">

                <div class="form-group">
                  <label for="name">Faculty Name</label>
                  <input type="text" class="form-control" id="name" @keyup="error.errors.faculty_name = null" name="name" placeholder="Enter Faculty Name" value="" v-model="faculty.faculty_name">
                </div>

				<!-- Error -->
				<div class="alert alert-icon alert-danger " v-if="hasError('faculty_name')">
					<span v-for="err in error.errors.faculty_name" :key="err.id"><i class="fe fe-alert-triangle mr-2"></i>{{err}}</span>
				</div>

                <div class="form-group">
                  <label for="subject">Faculty Subject</label>
                  <select name="subject" id="" class="form-control" v-model="faculty.faculty_subject">
                    <option :value="subject.subject"  v-for="subject in subjects" :key="subject.id">
                      {{subject.subject}}
                    </option>
                  </select>
                </div>
				<!-- Error --> 
				<div class="alert alert-icon alert-danger " v-if="hasError('faculty_subject')">
					<span v-for="err in error.errors.faculty_subject" :key="err.id"><i class="fe fe-alert-triangle mr-2"></i>{{err}}</span>
				</div>

                <div class="form-group">
                  <label for="class">Faculty Class</label>
                  <select name="" id="" class="form-control" v-model="faculty.faculty_class">
                    <option :value="classlist.class" v-for="classlist in classes" :key="classlist.id">
                      {{classlist.class}}
                    </option>
                  </select>
                </div>
				<!-- Error -->
				<div class="alert alert-icon alert-danger " v-if="hasError('faculty_class')">
					<span v-for="err in error.errors.faculty_class" :key="err.id"><i class="fe fe-alert-triangle mr-2"></i>{{err}}</span>
				</div>
               </div>
              <!-- /.box-body -->
               <div class="box-footer">
                    <button type="button" class="btn btn-primary" v-on:click="save">Submit</button>
              </div>

            </div>
		    </div>
		</div>
	</div>
</template>
<script>
    import {mapState , mapActions} from "vuex";
    export default{
        data(){
            return{
				error : null
            }
        },

        computed :{
            ...mapState("faculty" , ["faculty"]),
            ...mapState("subjects" , ["subjects" , "pagination" ,"loading"]),
            ...mapState("classes" , ["classes" ,"loading" , "pagination"])
        },

        methods:{
            ...mapActions("subjects" , ["listSubjects" , "deleteSubject"]),
            ...mapActions("faculty", ["saveFaculty"]),
            ...mapActions("classes" , ["fetchClass" , "deleteClass"]),
            save(){
                this.saveFaculty(this.faculty)
                .then(res=>{
					this.faculty.faculty_name    = '',
					this.faculty.faculty_subject = '',
					this.faculty.faculty_class   = ''
					this.$router.push('/faculty/list'),
					toast.fire({
						icon: 'success',
						title: 'Faculty Created Successfully'
					})
				})
				.catch(error=>{
					this.error = error
				})
			},
			
			hasError(field){
				return (this.error && this.error.errors && this.error.errors[field]) ? 1: 0;
			}
        },

        created(){
          this.fetchClass('') 
			   
          this.listSubjects('')
		  }
    }
</script>