<template>
	<div>
		<div class="row">
		          <div class="col-12">
		            <div class="card">
		              <div class="card-header">
		                <h3 class="card-title">Fixed Header Table</h3>

		                <div class="card-tools">
		                  <div class="input-group input-group-sm" style="width: 150px;">
		                    <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

		                    <div class="input-group-append">
		                      <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
		                    </div>
		                  </div>
		                </div>
		              </div>
		              <!-- /.card-header -->
		              <div class="card-body table-responsive p-0" style="height: 300px;">
		                <table class="table table-head-fixed text-nowrap">
		                  <thead>
		                    <tr>
		                      <th>Faculty Name</th>
		                      <th>Faculty Subject</th>
		                      <th>Faculty Class</th>
		                      <th>Actions</th>
		                    </tr>
		                  </thead>
		                  <tbody>
		                    <tr v-for="faclt in faculties" :key="faclt.id">
		                      <td>{{faclt.faculty_name}}</td>
		                      <td>{{faclt.faculty_subject}}</td>
		                      <td>{{faclt.faculty_class}}</td>
		                      <td>
		                      		<router-link :to="{name:'EditFaculty' , params:{id:faclt.id}}" class="btn btn-primary btn-sm"> Edit</router-link>

		                      		<button class="btn btn-danger btn-sm" v-on:click="deleteFaculty(faclt.id)">Delete</button>
		                      </td>
		                    </tr>
		                  </tbody>
						   <nav v-if="pagination && pagination.totalPages > 1" aria-label="Faculty Pagination">
							<paginate v-model="pagination.currentPage" :page-count="pagination.totalPages" :click-handler="paginateFaculty" 
								:prev-text="'Prev'" 
								:next-text="'Next'"
								:prev-class="'page-item'"
								:next-class="'page-item'"
								:page-link-class="'page-link'"
								:container-class="'pagination'">
							</paginate>
						</nav>
		                </table>
		              </div>
		              <!-- /.card-body -->
		            </div>
		            <!-- /.card -->
		          </div>
		        </div>
		        
	</div>

</template>

<script>
	import {mapState , mapActions} from "vuex";
	export default{
		data(){
			return{

			}
		},

		computed:{
			...mapState("faculty" , ["faculties" , "loading" ,"pagination"])
		},

		methods:{
			...mapActions("faculty",["deleteFaculty" , "listFaculty"]),

			paginateFaculty(){
				var query = '?page='+ this.pagination.currentPage;

				this.listFaculty(query);
			}
		},

		created(){
			this.listFaculty('')
		}
	}
</script>