<template>
    <div>

        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Announement Create</h3>
            </div>
            <div class="card-body">
                <div class="box box-primary">
                    <div class="form-group">
                        <label for="text">Announcement</label>
                        <input type="text" class="form-control" id="text" @keyup="error.errors.announcement = null"
                            name="text" placeholder="Enter Announcements Name" v-model="announcement.announcement">
                    </div>

                    <!-- Error -->
                    <div class="alert alert-icon alert-danger " v-if="hasError('announcement')">
                        <span v-for="err in error.errors.announcement" :key="err.id"><i
                                class="fe fe-alert-triangle mr-2"></i>{{err}}</span>
                    </div>

                    <div class="form-group">
                        <label for="image">Announcement Image</label>
                        <input type="file" id="image" class="form-control" name="image"
                            placeholder="Choose Profile Pic" v-on:change="selectedFile($event)">
                    </div>
                    
                    <div class="form-group">
                        <label for="image">Attached File Name</label>
                        <input type="text" id="image" class="form-control" @keyup="error.errors.announcement = null" name="image"
                            placeholder="Write a name for attached File" v-model="announcement.attach">
                    </div>

                     <!-- Error -->
                    <div class="alert alert-icon alert-danger " v-if="hasError('attach')">
                        <span v-for="err in error.errors.batch" :key="err.id"><i
                                class="fe fe-alert-triangle mr-2"></i>{{err}}</span>
                    </div>


                    <div class="form-group">
                        <label for="batch">Select Batch</label>
                        <select name=""  id="" class="form-control"   v-model="announcement.batch"
                            >
                            <option selected disabled>Select Batch</option>
                            <option :value="batch.batch" v-for="batch in batches" :key="batch.id">
                                {{batch.batch}}
                            </option>
                            
                        </select>
                    </div> 

                    <!-- Error -->
                    <div class="alert alert-icon alert-danger " v-if="hasError('batch')">
                        <span v-for="err in error.errors.batch" :key="err.id"><i
                                class="fe fe-alert-triangle mr-2"></i>{{err}}</span>
                    </div>

                    <div class="form-group">
                        <label for="class">Select Class</label>
                        <select name="class" class="form-control"  v-model="announcement.class"
                        @change="error.errors.class = null"  >
                            <option selected disabled>Select Class</option>
                            <option :value="classlist.id" v-for="classlist in classes" :key="classlist.id">
                                {{classlist.class}}
                            </option>
                        </select>
                    </div>
                    <!-- /.box-body -->

                    <!-- Error -->
                    <div class="alert alert-icon alert-danger " v-if="hasError('class')">
                        <span v-for="err in error.errors.class" :key="err.id"><i
                            class="fe fe-alert-triangle mr-2"></i>{{err}}</span>
                    </div>
                </div>

                <button v-on:click="save" class="btn btn-danger float-right">Submit</button>

            </div>
        </div>



    </div>
</template>

<script>
    import {
        mapState,
        mapActions
    } from "vuex";
    export default {


        data() {
            return {
                error: null,

                image : ''
            }
        },

        computed: {
            ...mapState("announcements", ["announcement"]),
            ...mapState("batches", ["batches" , "loading" , "pagination"]),
            ...mapState("classes" , ["classes"])
        },

        methods: {

            ...mapActions("announcements", ["saveAnnouncement", "editAnnouncement"]),
            ...mapActions("batches",["listBatches" , "deleteBatch"]),
            ...mapActions("classes" , ["fetchClass"]),

            selectedFile(){
                this.image = event.target.files[0];
            },

           save() {

                var saveData = this.announcement;

                if(this.image){
                   let formData = new FormData();

                   $.each(saveData , function(key , value){
                       formData.append(key , value);
                   });

                   formData.append('image' , this.image);

                   saveData = formData;
                }


                this.saveAnnouncement(saveData)
                    .then(res => {
                            this.announcement.announcement = '',
                            this.announcement.image = '',
                            this.announcement.batch = '',
                            this.announcement.class = '',
                            this.$router.push('/announcements/list')
                        toast.fire({
                            icon: 'success',
                            title: 'Student Created Successfully'
                        })
                    })
                    .catch(error => {
                        this.error = error;
                    })
            },

            hasError(field) {
                return (this.error && this.error.errors && this.error.errors[field]) ? 1 : 0;
            }
        },

        created(){
            this.fetchClass('')
            	this.listBatches('') 
        }
    }

</script>
