<template>
    <div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Fixed Header Table</h3>

                        <div class="card-tools">
                            <div class="input-group input-group-sm" style="width: 150px;">
                                <input type="text" name="table_search" class="form-control float-right"
                                    placeholder="Search">

                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0" style="height: 300px;">
                        <table class="table table-head-fixed text-nowrap">
                            <thead>
                                <tr>
                                    <th>Announcement</th>
                                    <th>Image</th>
                                    <th>Batch</th>
                                    <th>Class</th>
                                    <!-- <th>Created At</th> -->
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <p v-if="loading">Loading...</p>
                                 <tr v-for="announce in announcements" :key="announce.id">
                                    <td>{{announce.announcement}}</td>
                                    <td v-if="announce.image">
                                        <img :src="announce.image" style="width:50px;" alt="image" srcset="">
                                    </td>
                                    <td v-else></td>
                                    <td>{{announce.batch}}</td>
                                    <td>{{announce.class}}</td>
                                    <!-- <td>{{announce.role}}</td> -->
                                    <!-- <td>{{announce.created_at}}</td> -->

                                    <td>
                                        <router-link :to="{name:'EditAnnouncement',params:{id:announce.id}}"
                                            class="btn btn-primary btn-sm">Edit</router-link>

                                        <button class="btn btn-danger btn-sm"
                                            @click="deleteAnnouncement(announce.id)">Delete</button>
                                    </td>
                                </tr>
                            </tbody>
                            <nav v-if="pagination && pagination.totalPages > 1" aria-label="Announcement Pagination">
                                <paginate v-model="pagination.currentPage" :page-count="pagination.totalPages"
                                    :click-handler="paginateAnnouncements" :prev-text="'Prev'" :next-text="'Next'"
                                    :prev-class="'page-item'" :next-class="'page-item'" :page-link-class="'page-link'"
                                    :container-class="'pagination'">
                                </paginate>
                            </nav>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div>
</template>

<script>
    import {
        mapState,
        mapActions
    } from "vuex";
    export default {
        data() {
            return {

            }
        },

        computed: {
            ...mapState("announcements", ["announcements", "loading", "pagination"])
        },

        methods: {
            ...mapActions("announcements", ["fetchAnnouncement", "deleteAnnouncement"]),

            paginateAnnouncements() {
                var query = '?page=' + this.pagination.currentPage;
                this.fetchAnnouncement(query);
            }
        },

        created() {
            this.fetchAnnouncement('')
        }
    }

</script>
