<template>
    <div>
       <!-- Site wrapper -->
<div class="wrapper">
  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
      </li>
      
    </ul>

    <!-- SEARCH FORM -->
    <form class="form-inline ml-3">
      <div class="input-group input-group-sm">
        <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
        <div class="input-group-append">
          <button class="btn btn-navbar" type="submit">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </div>
    </form>
	<router-link to="/profile" class="ml-auto text-muted font-weight-bold nav-link">Profile</router-link>
  </nav>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <router-link to="/" class="brand-link">
      <img src="admin-lte/dist/img/AdminLTELogo.png"
           alt="AdminLTE Logo"
           class="brand-image img-circle elevation-3"
           style="opacity: .8">
      <span class="brand-text font-weight-light">Beats</span>
    </router-link>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="admin-lte/dist/img/user2-160x160.jpg" alt="User Image" class="img-circle elevation-2">
        </div>
        <div class="info">
          <a href="#" class="d-block">Alexander Pierce</a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Dashboard
                <i class="right"></i>
              </p>
            </a>
          </li>

          <!-- ADD STUDENT -->
          <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fa fa-child"></i>
              <p>
                Add Student
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <router-link to="/students/create" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Create Student</p>
                </router-link>
              </li>
              <li class="nav-item">
                <router-link to="/students/list" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>List Student</p>
                </router-link>
              </li>
            </ul>
          </li>

          <!-- ADD ANNOUNCEMENT -->
          <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fa fa-bullhorn"></i>
              <p>
                Add Announcements
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <router-link to="/announcements/create" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Create Announcement</p>
                </router-link>
              </li>
              <li class="nav-item">
                <router-link to="/announcements/list" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>List Announcement</p>
                </router-link>
              </li>
            </ul>
          </li>

          <!-- ADD ASSIGNMENT -->
          <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fa  fa-file"></i>
              <p>
                Add Assignment
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <router-link to="/assignments/create" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Create Assignment</p>
                </router-link>
              </li>
              <li class="nav-item">
                <router-link to="/assignments/list" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>List Assignment</p>
                </router-link>
              </li>
            </ul>
          </li>

          <!-- ADD BATCH -->
          <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fa fa-group"></i>
              <p>
                Add Batch
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <router-link to="/batches/create" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Create Batch</p>
                </router-link>
              </li>
              <li class="nav-item">
                <router-link to="/batches/list" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>List Batch</p>
                </router-link>
              </li>
            </ul>
          </li>

          <!-- ADD CLASS -->
          <!-- <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fa fa-institution"></i>
              <p>
                Add Class
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <router-link to="/class/create" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Create Class</p>
                </router-link>
              </li>
              <li class="nav-item">
                <router-link to="/class/list" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>List Class</p>
                </router-link>
              </li>
            </ul>
          </li> -->

          <!-- ADD SUBJECT -->
          <!-- <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fa fa-pencil-square-o"></i>
              <p>
                Add Subject
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <router-link to="/subjects/create" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Create Subject</p>
                </router-link>
              </li>
              <li class="nav-item">
                <router-link to ="/subjects/list" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>List Subject</p>
                </router-link>
              </li>
            </ul>
          </li> -->

          <!-- ADD FACULTY -->
          <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fa fa-user"></i>
              <p>
                Add Faculty
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <router-link to = "/faculty/create" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Create Faculties</p>
                </router-link>
              </li>
              <li class="nav-item">
                <router-link to = "/faculty/list" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>List Faculties</p>
                </router-link>
              </li>
            </ul>
          </li>

          <!-- ADD STATIC PAGE -->
          <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fa fa-sticky-note-o"></i>
              <p>
                Add Static Page
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <router-link to ="/static/create" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Create Static Page</p>
                </router-link>
              </li>
              <li class="nav-item">
                <router-link to ="/static/list" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Create Static Page</p>
                </router-link>
              </li>
            </ul>
          </li>



           <!-- ADD STATIC PAGE -->
          <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-user-circle"></i>
              <p>
                Add Account
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <router-link to ="/account/create/student" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>CreateStudent</p>
                </router-link>
              </li>
              <li class="nav-item">
                <router-link to ="/account/create/faculty" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>CreateFaculty</p>
                </router-link>
              </li>
              <li class="nav-item">
                <router-link to ="/account/list" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>List</p>
                </router-link> 
              </li>
            </ul>
          </li>



        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header" v-if="this.$router.currentRoute.path == '/'">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1>Beats Dashboard</h1>
            </div>
            <br>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active">Blank Page</li>
              </ol>
            </div>
            <br><br>
            <div class="col-lg-3 col-6">
              <!-- small box -->
              <div class="small-box bg-info">
                <div class="inner">
                  <h3>150</h3>

                  <p>New Orders</p>
                </div>
                <div class="icon">
                  <i class="ion ion-bag"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
              </div>
            </div>

        <div class="col-lg-3 col-6">
              <!-- small box -->
              <div class="small-box bg-success">
                <div class="inner">
                  <h3>53<sup style="font-size: 20px">%</sup></h3>

                  <p>Bounce Rate</p>
                </div>
                <div class="icon">
                  <i class="ion ion-stats-bars"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
              </div>
            </div>

          <div class="col-lg-3 col-6">
              <!-- small box -->
              <div class="small-box bg-warning">
                <div class="inner">
                  <h3>44</h3>

                  <p>User Registrations</p>
                </div>
                <div class="icon">
                  <i class="ion ion-person-add"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
              </div>
            </div>

        <div class="col-lg-3 col-6">
              <!-- small box -->
              <div class="small-box bg-danger">
                <div class="inner">
                  <h3>65</h3>

                  <p>Unique Visitors</p>
                </div>
                <div class="icon">
                  <i class="ion ion-pie-graph"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
              </div>
            </div>
          </div>
        </div><!-- /.container-fluid -->
      </section>

      <!-- Main content -->
      <section class="content">

        <div class="container">
          <div class="row">
              <div class="col-sm-10 offset-sm-1">
                <router-view></router-view>
              </div>
          </div>
        </div>
      </section>
      <!-- /.content -->
    </div>
  <!-- /.content-wrapper -->

  <footer class="main-footer">
    <div class="float-right d-none d-sm-block">
      <b>Beats Panel</b>
    </div>
    <strong>Copyright &copy; 2020 <a href="#">Beats Academy</a>.</strong> 
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->
    </div>
</template>


