<template>
	<div>
		<div class="card card-primary">
		    <div class="card-header">
		        <h3 class="card-title">Student Edit</h3>
		    </div>

              
		    <div class="card-body">

              <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" @keyup="error.errors.name= null" name="name" placeholder="Enter Student Name" v-model="student.name">
              </div>

				<!-- Error -->
				<div class="alert alert-icon alert-danger " v-if="hasError('name')">
					<span v-for="err in error.errors.name" :key="err.id"><i class="fe fe-alert-triangle mr-2"></i>{{err}}</span>
				</div>


                 <div class="form-group">
                            <label for="class">Class</label>
                            <select class="form-control" v-model="student.class" @change="error.errors.class= null">
                                <option value="" selected="" disabled="">Select Class</option>
                                <option :value="classlist.class" v-for="classlist in classes" :key="classlist.id">
                                    {{classlist.class}}
                                </option> 
                            </select>
                        </div>

				<!-- Error -->
				<div class="alert alert-icon alert-danger " v-if="hasError('class')">
					<span v-for="err in error.errors.class" :key="err.id"><i class="fe fe-alert-triangle mr-2"></i>{{err}}</span>
				</div>

                <div class="form-group">
	                <label for="school">School</label>
	                <input type="text" id="school" class="form-control" @keyup="error.errors.school= null" name="school" placeholder="Enter School Name" v-model="student.school">				
                </div>

				<!-- Error -->
				<div class="alert alert-icon alert-danger " v-if="hasError('school')">
					<span v-for="err in error.errors.school" :key="err.id"><i class="fe fe-alert-triangle mr-2"></i>{{err}}</span>
				</div>


				<div class="form-group">
	                <label for="image">Profile Pic</label>
	                <input type="file" id="image" class="form-control" name="image" placeholder="Choose Profile Pic" value="" v-on:change="selectedFile($event)">
				</div>

				 <div class="form-group">
                            <label for="batch">Batch</label>
                            <select name="batch" class="form-control" v-model="student.batch"
                                @change="error.errors.batch= null">
                                <option value="" selected="" disabled="">Choose Batch</option>
                                <option  v-for="batch in batches" :key="batch.id">
                                    {{batch.batch}}
                                </option>
                            </select>
                        </div>

                        <!-- Error -->
                        <div class="alert alert-icon alert-danger " v-if="hasError('batch')">
                            <span v-for="err in error.errors.batch" :key="err.id"><i
                                    class="fe fe-alert-triangle mr-2"></i>{{err}}</span>
                        </div>

				<div class="form-group">
	                <label for="address">Address</label>
	                <input type="text" id="address" class="form-control" @keyup="error.errors.address= null" name="address" placeholder="Enter Student Address" v-model="student.address">
				</div>
				<!-- Error -->
				<div class="alert alert-icon alert-danger " v-if="hasError('address')">
					<span v-for="err in error.errors.address" :key="err.id"><i class="fe fe-alert-triangle mr-2"></i>{{err}}</span>
				</div>

				<div class="form-group">
	                <label for="fname">Father Name</label>
	                <input type="text" id="fname" class="form-control" name="fname" @keyup="error.errors.father= null" placeholder="Enter Father Name" v-model="student.father">
				</div>

				<!-- Error -->
				<div class="alert alert-icon alert-danger " v-if="hasError('father')">
					<span v-for="err in error.errors.father" :key="err.id"><i class="fe fe-alert-triangle mr-2"></i>{{err}}</span>
				</div>

				<div class="form-group">
	                <label for="mname">Mother Name</label>
	                <input type="text" id="mname" class="form-control" @keyup="error.errors.mother= null" name="mname" placeholder="Enter Mother Name" v-model="student.mother">
				</div>
				<!-- Error -->
				<div class="alert alert-icon alert-danger " v-if="hasError('mother')">
					<span v-for="err in error.errors.mother" :key="err.id"><i class="fe fe-alert-triangle mr-2"></i>{{err}}</span>
				</div>

				<div class="form-group">
	                <label for="fcontact">Father Contact</label>
	                <input type="text" id="fcontact" class="form-control"  @keyup="error.errors.father_contact= null" name="fcontact" placeholder="Enter Father Contact" v-model="student.father_contact">
				</div>

				<!-- Error -->
				<div class="alert alert-icon alert-danger " v-if="hasError('father_contact')">
					<span v-for="err in error.errors.father_contact" :key="err.id"><i class="fe fe-alert-triangle mr-2"></i>{{err}}</span>
				</div>

				<button v-on:click="update" class="btn btn-danger">Update</button>
			</div>
			
	</div>

</div>
</template>

<script>
	import {mapState , mapActions} from "vuex";
	export default {
		props:['id'],
		data(){
			return {
				image : false,

				error: null,
			}
		},

		computed:{
			...mapState("students" , ["student"]),
			...mapState("classes" , ["classes" ,"loading" , "pagination"]),
			...mapState("batches", ["batches" , "loading" , "pagination"]), 
		},

		methods:{
			
			...mapActions("students" , ["updateStudent" , "editStudent"]),
			...mapActions("classes" , ["fetchClass" , "deleteClass"]),
            ...mapActions("batches",["listBatches" , "deleteBatch"]),

			selectedFile(){
				this.image = event.target.files[0]
			},

			update(){

				var saveImage = this.student;

				if(this.image){
					let formData = new FormData();

					$.each(saveImage , function(key,value){
					formData.append(key , value);
					});

					formData.append('profile_pic' , this.image);

					saveImage = formData;
				}

				this.updateStudent(saveImage)
				.then(res=>{
					this.student.name 		    = '',
					this.student.class          = '',
					this.student.school         = '',
					this.student.profile_pic    = '',
					this.student.batch          = '',
					this.student.address        = '',
					this.student.father         = '',
					this.student.mother         = '',
					this.student.father_contact = '',
					this.$router.push('/students/list')
					toast.fire({
					  icon: 'success',
					  title: 'Student Updated Successfully'
					})
				})
				.catch(error=>{
					this.error = error
				})
			},

			hasError(field) {
                return (this.error && this.error.errors && this.error.errors[field]) ? 1 : 0;
			}
			
		},

		created(){
			this.editStudent(this.id);
			this.fetchClass('') 
            this.listBatches('')
		}
		
	}
</script>