<template>
	<div>
		<div class="row">
		          <div class="col-12">
		            <div class="card">
		              <div class="card-header">
		                <h3 class="card-title">Fixed Header Table</h3>

		                <div class="card-tools">
		                  <div class="input-group input-group-sm" style="width: 150px;">
		                    <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

		                    <div class="input-group-append">
		                      <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
		                    </div>
		                  </div>
		                </div>
		              </div>
		              <!-- /.card-header -->
		              <div class="card-body table-responsive p-0" style="height: 300px;">
		                <table class="table table-head-fixed text-nowrap">
		                  <thead>
		                    <tr>
		                      <th>Name</th>
		                      <th>Class</th>
		                      <th>School</th>
		                      <th>Profile Pic</th>
		                      <th>Batch</th>
		                      <th>Address</th>
		                      <th>Father Name</th>
		                      <th>Mother Name</th>
		                      <th>Father Contact</th>
		                      <th>Actions</th>
		                    </tr>
		                  </thead>
		                  <tbody>
							<p v-if = "loading">Loading...</p>  
		                    <tr v-for="student in students" :key="student.id">
		                      <td>{{student.name}}</td>
		                      <td>{{student.class}}</td>
		                      <td>{{student.school}}</td>
		                      <td>
								  <!-- <a :href="student.profile_pic" download><i class="fa fa-download" aria-hidden="true"></i></a> -->
		                      		<img v-if="student.profile_pic" :src='student.profile_pic' width="50px" >
		                      		<p v-else class="font-weight-bold text-dark text-uppercase"> Not Found</p>
		                      </td>
		                      <td>{{student.batch}}</td>
		                      <td>{{student.address}}</td>
		                      <td>{{student.father}}</td>
		                      <td>{{student.mother}}</td>
		                      <td>{{student.father_contact}}</td>
		                      <!-- <td>{{student.created_by}}</td> -->
		                      <td>
		                      		<router-link :to="{name:'EditStudent' , params:{id:student.id}}" class="btn btn-info btn-sm">Edit</router-link>
		                      		<button class="btn btn-danger btn-sm" v-on:click="deleteStudent(student.id)">Delete</button>
		                      </td>
		                    </tr>
		                  </tbody>
						  <nav v-if="pagination && pagination.totalPages > 1" aria-label="Student Pagination">
							<paginate v-model="pagination.currentPage" :page-count="pagination.totalPages" :click-handler="paginateStudents" 
								:prev-text="'Prev'" 
								:next-text="'Next'"
								:prev-class="'page-item'"
								:next-class="'page-item'"
								:page-link-class="'page-link'"
								:container-class="'pagination'">
							</paginate>
						</nav>
		                </table>

		              </div>
		              <!-- /.card-body -->
		            </div>
		            <!-- /.card -->
		          </div>
		        </div>

	</div>
</template>
<script>
	import {mapState , mapActions} from "vuex";
	export default{
		data(){
			return{

			}
		},

		computed:{
			...mapState("students" , ["students" , "loading" , "pagination"])
		},

		methods:{
			...mapActions("students" , ["fetchList" , "deleteStudent"]),

			paginateStudents(){
				var query = '?page=' + this.pagination.currentPage;
				this.fetchList(query);
			}
		},

		created(){

			this.fetchList('')
		}
	}
</script>