<template>
	<div>
		<div class="card card-primary">
		    <div class="card-body">
		       <div class="box box-primary">
                    <div class="box-header with-border">
                      <h3 class="box-title">Create Student Class</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <div class="box-body">
                    <div class="form-group">
                      <label for="class">Class</label>
                      <!-- <input type="text" class="form-control" id="class" name="class" @keyup="error.errors.class = null" placeholder="Enter Class Name" value="" v-model="classe.class"> -->
                    <select class="form-control" @change="error.errors.class = null" v-model="classe.class">
						<option selected>----Select Class----</option>
						<option value="9">Class9</option>
						<option value="10">Class10</option>
						<option value="11">Class11</option>
						<option value="12">Class12</option>
					</select>
					</div>

					<!-- Error -->
					<div class="alert alert-icon alert-danger " v-if="hasError('class')">
						<span v-for="err in error.errors.class" :key="err.id"><i class="fe fe-alert-triangle mr-2"></i>{{err}}</span>
					</div>

                    <div class="form-group">
                      <label for="class">Status</label>
                      <select name="status" class="form-control" v-model="classe.class_status" @change="error.errors.class_status=null">
                        <option value="" disabled="" selected="">Choose Status</option>
                        <option value="Active">Active</option>
                        <option value="InActive">InActive</option>
                      </select>
                    </div>

					<!-- Error -->
					<div class="alert alert-icon alert-danger " v-if="hasError('class_status')">
						<span v-for="err in error.errors.class_status" :key="err.id"><i class="fe fe-alert-triangle mr-2"></i>{{err}}</span>
					</div>

                  </div>
                  <!-- /.box-body -->
                   <div class="box-footer">
                    <button type="button" v-on:click="save" class="btn btn-primary">Submit</button>
                   </div>
                </div>
		    </div>
		</div>
	</div>
</template>

<script>
    import {mapState , mapActions} from "vuex";
    export default{
        data(){
            return{
				error : null
            }
        },

        computed:{
            ...mapState("classes",["classes" , "classe"])
        },

        methods:{

            ...mapActions("classes" , ["saveClass"]),

            save(){ 
                this.saveClass(this.classe)
                .then(res=>{
                  this.classe.class = '',
                  this.classe.class_status = '',
                  this.$router.push('/class/list'),
                  toast.fire({
                    icon: 'success',
                    title: 'Student Created Successfully'
                  })
				})
				.catch(error=>{
					this.error = error
				})
			},
			
			hasError(field){
				return (this.error && this.error.errors && this.error.errors[field]) ? 1:0;
			}
        }
    }
</script>