<template>
	<div>
		<div class="row">
		          <div class="col-12">
		            <div class="card">
		              <div class="card-header">
		                <h3 class="card-title">Fixed Header Table</h3>

		                <div class="card-tools">
		                  <div class="input-group input-group-sm" style="width: 150px;">
		                    <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

		                    <div class="input-group-append">
		                      <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
		                    </div>
		                  </div>
		                </div>
		              </div>
		              <!-- /.card-header -->
		              <div class="card-body table-responsive p-0" style="height: 300px;">
		                <table class="table table-head-fixed text-nowrap">
		                  <thead>
		                    <tr>
		                      
		                      <th>Class</th>
		                      <th>Class Status</th>
		                      <th>Actions</th>
		                      
		                    </tr>
		                  </thead>
		                  <tbody>

		                    <tr v-for="classlist in classes" :key="classlist.id">
		                      <td>{{classlist.class}}</td>
		                      <td>{{classlist.class_status}}</td>
		                      <td>
		                      	<router-link :to="{name:'EditClass' , params:{id:classlist.id}}" class="btn btn-primary btn-sm">Edit</router-link>

		                      	<button v-on:click="deleteClass(classlist.id)" class="btn btn-danger btn-sm">Delete</button>
		                      </td>
		                    </tr>
		                  </tbody>
						  <nav v-if="pagination && pagination.totalPages > 1" aria-label="Student Pagination">
							<paginate v-model="pagination.currentPage" :page-count="pagination.totalPages" :click-handler="paginateClasses" 
								:prev-text="'Prev'" 
								:next-text="'Next'"
								:prev-class="'page-item'"
								:next-class="'page-item'"
								:page-link-class="'page-link'"
								:container-class="'pagination'">
							</paginate>
						</nav>
		                </table>
		              </div>
		              <!-- /.card-body -->
		            </div>
		            <!-- /.card -->
		          </div>
		        </div>
	</div>
</template>
<script>
	import {mapState , mapActions} from "vuex";
	export default{
		data(){
			return{

			}
		},

		computed:{
			...mapState("classes" , ["classes" ,"loading" , "pagination"])
		},

		methods:{
			...mapActions("classes" , ["fetchClass" , "deleteClass"]),

			paginateClasses(){
				var query = '?page=' + this.pagination.currentPage;

				this.fetchClass(query);
			}
		},

		created(){
			this.fetchClass('') 
		}

	}
</script>