<template>
    <div>

        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Account Create</h3>
            </div>
            <div class="card-body">
                <div class="box box-primary">
                    <div class="form-group">
                        <label for="text">Name</label>
                        <input type="text" class="form-control" id="text" @keyup="error.errors.announcement = null"
                            name="text" placeholder="Enter Faculty Name" v-model="account.name">
                    </div>

                    <!-- Error -->
                    <div class="alert alert-icon alert-danger " v-if="hasError('announcement')">
                        <span v-for="err in error.errors.announcement" :key="err.id"><i
                                class="fe fe-alert-triangle mr-2"></i>{{err}}</span>
                    </div>

                    <div class="form-group">
                        <label for="text">Email</label>
                        <input type="text" class="form-control" id="text" @keyup="error.errors.announcement = null"
                            name="text" placeholder="Enter Faculty Name" v-model="account.email">
                    </div>
                    
                    <div class="form-group">
                        <label for="text">Password</label>
                        <input type="text" class="form-control" id="text" @keyup="error.errors.announcement = null"
                            name="text" placeholder="Enter Faculty Password" v-model="account.password">
                    </div>

                    

                    <div class="form-group">
                        <label for="batch">Type</label>
                        <input type="text" v-model="account.type1" class="form-control" placeholder="Faculty">
                    </div>
                </div>

                <button v-on:click="save" class="btn btn-danger float-right">Submit</button>

            </div>
        </div>



    </div>
</template>

<script>
    import {
        mapState,
        mapActions
    } from "vuex";
    export default {


        data() {
            return {
                error: null,

                image : ''
            }
        },

        computed: {
            ...mapState("account", ["account"]),

           
        },

        methods: {

            ...mapActions("account", ["saveaccount"]),

            save() {

                this.saveaccount(this.account)
                    .then(res => {
                            this.account.name = '',
                            this.account.email = '',
                            this.account.password = '',
                            this.account.class = '',
                            this.$router.push('/account/list')
                        toast.fire({
                            icon: 'success',
                            title: 'Account Created Successfully'
                        })
                    })
                    .catch(error => {
                        this.error = error;
                    })
            },

            hasError(field) {
                return (this.error && this.error.errors && this.error.errors[field]) ? 1 : 0;
            }
        },

        
    }

</script>
